 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
#todo-list input.edit {
  display: none; /* Hides input box*/
}
#todo-list .editing label {
  display: none; /* Hides label text when .editing*/
}
#todo-list .editing input.edit {
  display: inline; /* Shows input text box when .editing*/
}

body {
  margin: 0;
  background: url(../images/cork-board.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 5em;
  margin-bottom: 5px;
  text-shadow:  2px 2px 0 #453A3A;

  @media screen and (max-width: 580px) {
    font-size: 4em;
  }
}

header {
  text-align: center;
  input#new-todo {
    text-align: center;
    height: 30px;
  }
}

#main {
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style: none;
  height: 250px;
  width: 250px;
  float: left;
  margin: 10px;
  display: block;
  box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.9);

  @media screen and (max-width: 580px) {
    height: 150px;
    width: 150px;
    margin: 5px;
    }
}

li:hover {
box-shadow: 8px 8px 15px 0px rgba(50, 50, 50, 0.9);
}

li:nth-child(3n + 1) {
  background-color: #FCF0AD; 
}

li:nth-child(3n + 2) {
  background-color: #FF897F;   
}

li:nth-child(3n + 3) {
  background-color: #F190FF;   
}

//

span:nth-child(3n + 1) {
  color: #FCF0AD; 
}

span:nth-child(3n + 2) {
  color: #FF897F;   
}

span:nth-child(3n + 3) {
  color: #F190FF;   
}

img {
  width: 40px;
  position: relative;
  left: 40%;
}

button.destroy {
  float: right;
  background-color: white;
  color: red;
  border: none;
  &:hover {
    background-color: black;
    transform: scale(1.2);
  }
}

.taskWrapper {
  position: relative;
  top: 60px;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 1.3em;

  @media screen and (max-width: 580px) {
    top: 22px;
    font-size: 1em;
  }
}
















